# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Development folders
.githooks

# Local variables
/config/
src/config/

# Local-only files
/_local-only/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*--expanded.yml
